*__pycache__*
*.ipynb_checkpoints*
*.pyc
*.ipynb
*node_modules*
*.next*
*__pycache__*
*faiss_index/*
*scratch.py
*datastores*
*.egg-info
*.DS_Store
applications*
*wandb*
dist*
site*
*package-lock.json
projects
unnecessary.py
motionstate*
*.whl