.state-node {
    width: 150px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px; /* Adjust the value to make it more or less cylindrical */
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}

.node-label {
    color: #000;
    font-weight: bold;
    font-family: monospace;
}

.key-node {
    width: 150px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.node-rectangle {
    position: absolute;
    height: fit-content;
    width: fit-content;
    z-index: 1;
    bottom: 5px; /* Adjust the desired spacing value */
    right: 5px; /* Adjust the desired spacing value */
    /* background-color: #ffe9b8; */
    padding: 2px;
    border-radius: 5px;
}

.node-annotation {
    font-size: 10px; /* Adjust the desired font size value */
    /* color: #fff; */
}


.code-node {
    width: 550px;
    /* height: 50px; */
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.code-title {
    display: flex;
    align-items: center;
    flex: 1;
    font-weight: bold;
    font-family: monospace;
}

.toggle-button-container {
    margin-left: auto;
}

.toggle-button {
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .arrow-icon {
    display: inline-block;
    width: 5px;
    height: 5px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    /* padding: 2px; */
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle-button.expanded .arrow-icon {
    transform: rotate(-135deg);
  }


  
  
  
  
  
  
  